# DATA PROGRAMMING

## MID TERM

### Question 21

In a jupyter notebook solve the following question. Please upload the notebook to GitHub and provide the link submission box below.

 

__int()__: Constructor that takes as input a pair of Point objects that represent the ends points of the line segment

Length():: returns the length if the segment 

Slope() returns the slope of the segment of none if the slope is unbounded 

 

> p1 = Point(3,4)

> p2 = Point()

> s = Segment(p1,p2)

> s.length()

5.0

> s.slope()

0.75

### Answer:

In [77]:
import math

# Defining the class "Point" which depicts x and y coordinates.
class Point:
    def __init__(self, y=0, x=0):
        self.y_coordinate = y
        self.x_coordinate = x

 # Defining the class "Segment" which depicts the line segment between two points.
class Segment:
    def __init__(self, point1, point2):
        self.point1 = point1
        self.point2 = point2
        
# Defining function and finding the length of the line segment and returning the result using the  Euclidean's distance
    def calculate_length(self):
        length = math.sqrt((self.point2.y_coordinate - self.point1.y_coordinate) ** 2 + (self.point2.x_coordinate - self.point1.x_coordinate) ** 2)
        print("The length of the segment is:", length)

# Defining function "Slope" and calculating the slope of the segment.       
    def calculate_slope(self):
        # Calculate the slope between point1 and point2
        slope = (self.point2.y_coordinate - self.point1.y_coordinate) / (self.point2.x_coordinate - self.point1.x_coordinate)
        print("The slope of the segment is:", slope)

# Creating  Point  "p1" and "p2" with x and y coordinates and printing the length and slope.
if __name__ == "__main__":
    point1 = Point(3, 4)
    point2 = Point(0, 0)
    segment = Segment(point1, point2)
    segment.calculate_length()
    segment.calculate_slope()

The length of the segment is: 5.0
The slope of the segment is: 0.75

# Question 22

In a jupyter notebook solve the following question using both python and SQL. Please upload the notebook to GitHub and provide the link submission box below.



| Column Name   | Type    |
|---------------|---------|
| id            | int     |
| recordDate    | date    |
| temperature   | int     |

id is the column with unique values for this table.
This table contains information about the temperature on a certain day.

### Answer:

### PYTHON  :

In [72]:
# Importing the built-in module called pandas.
import pandas as pd

from tabulate import tabulate
# Using "tabulate" to create table.

# Taking a random sample data for the table.
data = {
    'id': [1, 2, 3, 4, 5],
    'recordDate': ['2023-10-01', '2023-10-02', '2023-10-03', '2023-10-04', '2023-10-05'],
    'temperature': [25, 28, 30, 26, 29]
}

# Creating a DataFrame for the data.
df = pd.DataFrame(data)

# Customizing thepresentation of the DataFrame in a box structure.
customized_output = tabulate(df, headers='keys', tablefmt='fancy_grid', showindex=False)

# Printing the customized DataFrame.
print(customized_output)

╒══════╤══════════════╤═══════════════╕
│   id │ recordDate   │   temperature │
╞══════╪══════════════╪═══════════════╡
│    1 │ 2023-10-01   │            25 │
├──────┼──────────────┼───────────────┤
│    2 │ 2023-10-02   │            28 │
├──────┼──────────────┼───────────────┤
│    3 │ 2023-10-03   │            30 │
├──────┼──────────────┼───────────────┤
│    4 │ 2023-10-04   │            26 │
├──────┼──────────────┼───────────────┤
│    5 │ 2023-10-05   │            29 │
╘══════╧══════════════╧═══════════════╛

### SQL :

In [73]:
# Importing the built-in module called "sqlite3" to deal with database.
import sqlite3

#Creating a connection to the database.
connection = sqlite3.connect('temperature_data.db')
cursor = connection.cursor()

# Using drop for the table that already exist.
cursor.execute('DROP TABLE IF EXISTS Temperature')

# Creating the Temperature table.
cursor.execute('''
    CREATE TABLE Temperature (
        id INTEGER PRIMARY KEY,
        recordDate DATE,
        temperature INTEGER
    )
''')

# Sample data to insert into the table
data = [
    (1, '2023-10-01', 25),
    (2, '2023-10-02', 28),
    (3, '2023-10-03', 30),
    (4, '2023-10-04', 26),
    (5, '2023-10-05', 29)
]

# aking a random sample data into the table.
cursor.executemany('INSERT INTO Temperature VALUES (?, ?, ?)', data)

# Using commit to make changes.
connection.commit()

# Retrieving all records from the table.
cursor.execute('SELECT * FROM Temperature')
rows = cursor.fetchall()

# Prsenting all the data in a box structure.
print("+------------+--------------+------------+")
print("| {:<10} | {:<12} | {:<11} |".format("ID", "Record Date", "Temperature"))
print("+------------+--------------+------------+")
for row in rows:
    print("| {:<10} | {:<12} | {:<11} |".format(row[0], row[1], row[2]))
print("+------------+--------------+------------+")

# Closing the connection to the database.
connection.close()

+------------+--------------+------------+
| ID         | Record Date  | Temperature |
+------------+--------------+------------+
| 1          | 2023-10-01   | 25          |
| 2          | 2023-10-02   | 28          |
| 3          | 2023-10-03   | 30          |
| 4          | 2023-10-04   | 26          |
| 5          | 2023-10-05   | 29          |
+------------+--------------+------------+

# Question 23

Write a solution to find all dates' Id with higher temperatures compared to its previous dates (yesterday).

Return the result table in any order.

Please use the following input Weather table for your solution. To receive full marks you will need to create the database, create the table, insert the data below and execute the SQL query.

 

Input: 
Weather table:
| id | recordDate | temperature |
|----|------------|-------------|
| 1  | 2015-01-01 | 10          |
| 2  | 2015-01-02 | 25          |
| 3  | 2015-01-03 | 20          |
| 4  | 2015-01-04 | 30          |

Output: 
| id |
|----|
| 2  |
| 4  |

Explanation: <BR>
In 2015-01-02, the temperature was higher than the previous day (10 -> 25).<BR>
In 2015-01-04, the temperature was higher than the previous day (20 -> 30).

### Answer:

In [71]:
# Importing the built-in module called "sqlite3" to deal with database.
import sqlite3

# Using "tabulate" to create table.
from tabulate import tabulate

# Creating a connection to the database.
connection = sqlite3.connect('weather_data.db')
cursor = connection.cursor()

# Creating the Weather table if it does not exist.
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Weather (
        id INTEGER PRIMARY KEY,
        recordDate DATE,
        temperature INTEGER
    )
''')

# Inserting the data in the Weather table.
data = [
    (5, '2015-01-01', 10),
    (6, '2015-01-02', 25),
    (7, '2015-01-03', 20),
    (8, '2015-01-04', 30)
]
cursor.executemany('INSERT OR IGNORE INTO Weather VALUES (?, ?, ?)', data)

try:
    
# Executing the SQL query.
    cursor.execute('''
        SELECT current_id AS id
        FROM (
            SELECT 
                id AS current_id,
                recordDate AS current_date,
                temperature AS current_temp,
                LAG(temperature) OVER (ORDER BY recordDate) AS prev_temp
            FROM Weather
        ) PreviousDay
        WHERE current_temp > prev_temp
    ''')

# Retriving the results.
    rows = cursor.fetchall()

# Presenting  the input data in a box structure.
    headers_input = ["id", "recordDate", "temperature"]
    print("Input Data:")
    print(tabulate(data, headers=headers_input, tablefmt="fancy_grid"))
    print("\n")

# Prsenting the results in a box structure.
    if len(rows) > 0:
        headers_output = ["id"]
        table_data = [[row[0]] for row in rows]
        print("Output Data:")
        print(tabulate(table_data, headers_output, tablefmt="fancy_grid"))
        print("\n Explanation:")
        print(f"1. In {data[1][1]}, the temperature was higher than the previous day ({data[0][2]} -> {data[1][2]}).")
        print(f"2. In {data[3][1]}, the temperature was higher than the previous day ({data[2][2]} -> {data[3][2]}).")
    else:
        print("No dates found with higher temperatures compared to the previous day.")

except sqlite3.Error as error:
    print(f"An error occurred: {error}")

finally:
    
# Closing the connection to the database.
    connection.close()

Input Data:
╒══════╤══════════════╤═══════════════╕
│   id │ recordDate   │   temperature │
╞══════╪══════════════╪═══════════════╡
│    5 │ 2015-01-01   │            10 │
├──────┼──────────────┼───────────────┤
│    6 │ 2015-01-02   │            25 │
├──────┼──────────────┼───────────────┤
│    7 │ 2015-01-03   │            20 │
├──────┼──────────────┼───────────────┤
│    8 │ 2015-01-04   │            30 │
╘══════╧══════════════╧═══════════════╛


Output Data:
╒══════╕
│   id │
╞══════╡
│    2 │
├──────┤
│    4 │
╘══════╛

 Explanation:
1. In 2015-01-02, the temperature was higher than the previous day (10 -> 25).
2. In 2015-01-04, the temperature was higher than the previous day (20 -> 30).